
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}
.header{
    position: relative;
    min-height: 60vh;
    background: url('./background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.container
{
        max-width: 1200px;
        margin: auto;
        width: 90%;

}
.nav
{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navitems
{
    width: 40%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.headline
{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn
{
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
} 
.btn-headline
{
    padding: 1rem 1rem; 
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 600;
    border-radius: 15px;
}
.section-todo
{
    margin-top:5rem;
    text-align: center;
}
.form-Todo
{
    /* border: 2px solid red; */
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
}
.form-Todo input
{
    min-height: 100%;
}

.form-Todo input[type = "text"]
{
   width: 78%;
   padding: 1rem;
   font-weight: bold;
}


.form-Todo input[type = "submit"]
{
   width: 20%;
   background-color: rgb(43, 40, 40);
   color: white;
   font-weight: bold;
}
.section-signup
{
    margin-top : 5rem;
    text-align: center;
    background-color: rgb(193, 233, 233);
    border-radius: 10px;
}

.signup-form
{
    max-width: 800px;
    width: 95%;
    text-align: left;
    margin: auto;
    padding: 1rem;
}

.signup-form label 
{
    display: block;
}

.signup-form input 
{
    display: block;
    width: 100%;
    padding: 0.5rem;
}
.formgroup
{
    margin-top: 1rem;
}
.signup-form textarea
{
    width: 100%;
}
.signup-btn
{
    background: rgb(43, 40, 40);
    color: white;
    padding: 1rem 2rem;
    display: block;
    margin: auto ;
    margin-top: 1rem;
}